
html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    /* margin: 0; */
    display: flex;
    flex-direction: column;
    background: #111;
    color: #fff;
    font-family: "JetBrainsMono Nerd Font", monospace;
}

#app {
    flex: 1;
}




